@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Roboto:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500&display=swap');


:root{
  
  --bg-color: #38bdf8;
  --clr-white:white;
  ---clr-black:rgba(0,0,0,0.5);
  --subtitle-clr: #e2e8f0;
  
  
  --duration: 500ms;
  --transition:all calc(var(--duration) + 200ms) ease;
  
  --mobile:384px;
}

*{
  padding:0;
  margin:0;
  box-sizing: border-box;
}

body {
 
  width:100vw;
  height:100vh;
  font-family: 'Roboto', sans-serif;
    
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}  

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a{
  text-decoration: none;
  color:var(--clr-black)
}

li {
  list-style: none;
}