

.app__navbar{
  width:100vh;
  min-height:100px;
  padding:3rem 2rem;
  
 
  display:flex;
  flex-direction: row;
  justify-content: space-between;
  align-items:center ;
  gap:2rem;
  transition:var(--transition);
  background-color:var(--bg-color);
}

.app__navbar ul{
  display:flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap:5rem;
  transition:var(--transition);
  
  padding:2rem 4rem;
}
.app__navbar ul li .nav__links{
  color:var(--clr-white);
  font-size: 2rem;
  
}

.login__signup-container{
  
  font-size: 2rem;
  padding:2rem 4rem;
  
  display:flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap:3rem;
  color:var(--clr-white)
}

.links{
  color:var(--clr-white);
}




.burger__container{
  
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap:0.5rem;
}
.burger__container div{
  width:40px;
  height:3px;
  background: var(--clr-white);
  transition:var(--transition);
  
}

.burger__container#open div{
  transition:var(--transition);
}

.burger__container#open div:nth-child(2){
  transform :translate(-200%);
  opacity:0;
}

.burger__container#open div:first-child{
  transform:rotate(45deg) translateY(15px);
}

.burger__container#open div:last-child{ 
  transform:rotate(-45deg) translateY(-15px);
}


.drawer__top{
  width:100vw;
  inset:0;
  height:100vh;
  font-size: 2rem;
  z-index: 20;
  
  background: var(--bg-color);
  color:var(--clr-white);
  position: absolute;
  animation: drawer__mount 800ms ease forwards;
  
  display:flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  
}



@keyframes drawer__mount {
  0%{
    top:-400%;
    display:none;
  }
  100%{
    top:18%;
    display:flex;
  }
}


.auth__page-container img{
  width:50px;
  height:50px;
  border-radius: 50%;

  
}










@media screen and (min-width:601px){
    .burger__container{
    display:none;
  }
  .drawer__top{
    display:none;
  }
}



@media screen and (max-width:600px){
  
  .app__navbar {
    width:100vw;
    justify-content: flex-end;
  }
  
  .app__navbar ul {
    display: none;
  }
  
  .login__signup-container{
    display:none;
  }
  

}